<!DOCTYPE html>
<html lang="ja">

<head id="include_head">
	<title>My Favorite Music in 2022</title>
    {% include head.html %}
</head>

<body>
	{% include header.html %}
	<div class="readable_width content_src">

		<script>insert_timestamp(new Date('2022/12/21 00:00'));</script>

		<h1>My Favorite Music in 2022</h1>

		<p> この記事は <a href="https://adventar.org/calendars/7422">Your Favorite Music in 2022 Advent Calendar 2022</a> の
			12
			月 21 日分になります。2022 年の私を彩った 5 曲を迷いに迷って、なんとか選びました。</p>

		<ul>
			<li><a href="#toshiki_songforyou">角松敏生 - Song for you</a></li>
			<li><a href="#nahee---city-drive">Nahee - City drive</a></li>
			<li><a href="#percy-faith---theme-from-summer-place">Percy Faith - Theme from Summer place</a></li>
			<li><a href="#diana-ross--tame-impala---turn-up-the-sunshine">Diana Ross &amp; Tame Impala - Turn up the
					sunshine</a></li>
			<li><a href="#m-flo-come-againvs-earth-wind--firebrazilian-rhyme-coverd-by-satoru-shionoya-mashup">m-flo
					「come again」vs Earth, Wind &amp; Fire「Brazilian Rhyme (coverd by Satoru Shionoya )」【Mashup】</a></li>
		</ul>

		<p>それでは 1 曲ずつ見ていきましょう。</p>

		<h2 id="toshiki_songforyou">角松敏生 - Song for you</h2>

		<div class="images">
			<p><img src="media/DSC_0564.jpg" width="50%"><img src="media/DSC_0963.jpg" width="50%"></p>
		</div>

		<!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/cKuI3kItgUc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
		<p><a href="https://youtu.be/cKuI3kItgUc">角松敏生 - Toshiki Kadomatsu　SONG FOR YOU - YouTube</a></p>
		<!-- 今年一番聴いたアルバムのリード曲を選びました。
アルバム "T's Ballad" はバラードだけを集めたベスト盤という位置づけですが、曲順といい、曲間のつなぎ方といい、ベスト盤とは思えないほど 1 枚でひとつの作品としてまとまりのあるアルバムとなっています。

A 面に針を落とすと、まず吉田美奈子さんのアカペラによる Overture から始まり、そして Still I'm in love with you へと続いていきます。 -->
		<p>私が今年一番聴いたアルバムから 1 曲選びました。</p>
		<!-- このアルバムはバラードベスト盤という位置付けですが、オリジナルをリミックスや再録音していたり、曲間が波の音で繋がれていたりするなど、ベスト盤とは思えないほど 1 枚でひとつの作品になっている印象を強く受けます。 -->
		<!-- JL123 便の乗員乗客に捧げる鎮魂歌というテーマのこのアルバムは、ベスト盤とは思えないほどコンセプチュアルな構成です。 -->
		<p>このアルバムは曲間が波の音やインタールードで繋がれているので、ミックステープを聴いているような印象を受けます。
			また、バラードのみが収録されているため、1 日の中のどのタイミングで流してもぴったり合うような気がして、何回も繰り返し聴いていました。</p>

		<p>吉田美奈子さんのコーラス、ポンタさんのドラム、Richard Tee のピアノ、、、私の好きなミュージシャンが揃っていて、もう最高の一枚でした。</p>

		<h2 id="nahee---city-drive">Nahee - City drive</h2>

		<div class="images">
			<iframe allow="autoplay *; encrypted-media *; fullscreen *; clipboard-write" frameborder="0" height="175"
				style="width:100%;overflow:hidden;background:transparent;"
				sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-storage-access-by-user-activation allow-top-navigation-by-user-activation"
				src="https://embed.music.apple.com/jp/album/city-drive/1591361685?i=1591361687"></iframe>
			<iframe style="border-radius:12px"
				src="https://open.spotify.com/embed/track/1lKA6Qy1QbzSeF0Ec7iolp?utm_source=generator&theme=0"
				width="100%" height="152" frameBorder="0" allowfullscreen=""
				allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
				loading="lazy"></iframe>
		</div>

		<p>韓国の CITY POP です。</p>

		<p>いかにも 80 年代の日本の CITY POP に影響を受けた感じのメロディーやアレンジです。
			耳馴染みがあって聴きやすいのに、ハングルなので何を唄っているのか全く聞き取れません。
			それがエキゾチックな雰囲気をより引き立てていて、クセになってしまいました。</p>

		<h2 id="percy-faith---theme-from-summer-place">Percy Faith - Theme from Summer place</h2>

		<div class="images">
			<iframe allow="autoplay *; encrypted-media *; fullscreen *; clipboard-write" frameborder="0" height="175"
				style="width:100%;overflow:hidden;background:transparent;"
				sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-storage-access-by-user-activation allow-top-navigation-by-user-activation"
				src="https://embed.music.apple.com/jp/album/theme-from-a-summer-place/158424806?i=158426004"></iframe>
			<iframe style="border-radius:12px"
				src="https://open.spotify.com/embed/track/6zwvB879PJSpTyFcg2wwnL?utm_source=generator&theme=0"
				width="100%" height="152" frameBorder="0" allowfullscreen=""
				allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
				loading="lazy"></iframe>
		</div>

		<p>今年の前半はエレベーターミュージックにハマっていました。
			その中でも特に聴き込んだ 1 曲を選択。</p>

		<p>晴れた日の午前中の在宅勤務の BGM としてよく聴いていました。
			そういえば、アニメ &quot;日常&quot; の中でこの曲をモチーフにしたサントラが流れていたような気がします。</p>
		<!-- エレベータミュージックを聴くと少し前のジェットストリームを思い出します。 -->

		<h2 id="diana-ross--tame-impala---turn-up-the-sunshine">Diana Ross &amp; Tame Impala - Turn up the sunshine</h2>

		<div class="images">
			<iframe allow="autoplay *; encrypted-media *;" frameborder="0" height="150"
				style="width:100%;overflow:hidden;background:transparent;"
				sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-storage-access-by-user-activation allow-top-navigation-by-user-activation"
				src="https://embed.music.apple.com/jp/album/%E3%82%BF%E3%83%BC%E3%83%B3-%E3%82%A2%E3%83%83%E3%83%97-%E3%82%B6-%E3%82%B5%E3%83%B3%E3%82%B7%E3%83%A3%E3%82%A4%E3%83%B3/1622722473?i=1622722474"></iframe>
			<iframe style="border-radius:12px"
				src="https://open.spotify.com/embed/track/4qfsIA030Dnr1K6rs2JVYq?utm_source=generator&theme=0"
				width="100%" height="152" frameBorder="0" allowfullscreen=""
				allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
				loading="lazy"></iframe>
		</div>

		<p>あの Diana Ross が昨年に続き今年も新曲を出しているということが、とても嬉しい。</p>

		<p>今年 (2022年) は全米ツアーをやっていたようですね。一度でいいから生で彼女のパフォーマンスを観たいなあ。</p>

		<!-- ## 竹内まりや - シングル・アゲイン

<iframe width="100%" height="150" src="https://odesli.co/embed/?url=https%3A%2F%2Fsong.link%2Fi%2F1640441958&theme=light" frameborder="0" allowfullscreen sandbox="allow-same-origin allow-scripts allow-presentation allow-popups allow-popups-to-escape-sandbox" allow="clipboard-read; clipboard-write"></iframe> -->
		<h2 id="m-flo-come-againvs-earth-wind--firebrazilian-rhyme-coverd-by-satoru-shionoya-mashup">m-flo 「come
			again」vs Earth, Wind &amp; Fire「Brazilian Rhyme (coverd by Satoru Shionoya )」【Mashup】</h2>

		<p><a href="https://youtu.be/j1_FpmSd7HQ">m-flo 「come again」vs Earth, Wind &amp; Fire「Brazilian Rhyme (coverd by
				Satoru Shionoya )」【Mashup】- YouTube</a></p>

		<p>5 曲目はマッシュアップを選びました。</p>

		<p>最初からこういう曲だったんじゃないかというくらい、しっくりハマっていて、いつまででも聴き続けていられる心地よさがあります。
			こういうマッシュアップを作れる DJ はカッコいいなあ。</p>
		<!-- </div> -->

	</div>
	{% include footer.html %}
	
</body>

</html>