<!DOCTYPE html>
<html lang="ja">

<head id="include_head">
    <title>上野から函館へ贅沢な旅路の記録</title>
    <meta property="og:title" content="上野から函館へ贅沢な旅路の記録">
    <meta property="og:description" content="憧れの寝台特急カシオペアに乗った話をします。">
    
    <meta property="og:image" content="https://home.shihoya.tokyo/articles/media/cassiopeir/20230409_090034.JPG">
    {% include head.html %}
</head>

<body>
    {% include header.html %}
    <div class="readable_width content_src">

        <script>insert_timestamp(new Date('2023/12/10 00:00'));</script>

        <h1>上野から函館へ贅沢な旅路の記録</h1>

        <p>この記事は <a href="https://adventar.org/calendars/9055">まちトドン Advent Calendar 2023</a> へ寄稿する記事です。</p>

        <p>今年の 4 月 8 日に、子供のころからずっと憧れの存在だった寝台特急カシオペアに乗る機会がありました。実際に乗った時の心情を写真多めで振り返っていきます。</p>

        <div class="toc-001">
            <div>
                目次
            </div>
            <ol>
                <li>
                    <a href="#1">カシオペア (上野→青森)</a>
                    <ol>
                        <li><a href="#1_1">出発から就寝まで</a></li>
                        <li><a href="#1_2">深夜のラウンジカー</a></li>
                        <li><a href="#1_3">起床から青森到着まで</a></li>
                    </ol>
                </li>
                <li><a href="#2">津軽海峡フェリー他 (青森→函館)</a></li>
                <li><a href="#3">最後に</a></li>
            </ol>
        </div>

        <h2 id="1">カシオペア (上野→青森)</h2>

        <h3 id="1_1">出発から就寝まで</h3>

        <figure>
            <img src="media/cassiopeir/20230408_143250.JPG" width="100%">
            <figcaption>北の玄関口、上野駅です。ここから夜行列車に乗って旅に出るのは昔話であって、私自身が体験できるとは夢みたいです。しかも、幼少の頃から憧れたカシオペアに乗れるなんて......
            </figcaption>
        </figure>
        <figure>
            <img src="media/cassiopeir/20230408_151901.JPG" width="100%">
            <figcaption>15:20 定刻通り上野駅 13
                番線に入線してきます。子供の頃に読んだ鉄道図鑑に載っていた豪華寝台列車が私を乗せるために目の前に現れてきてくれたことだけで、私は感動していました。定期運行時代に何度かヒガハスで撮影したけれど、こうして目の前にいると感情の昂ぶりが抑えられません。
            </figcaption>
        </figure>
        <figure>
            <img src="media/cassiopeir/20230408_152220.JPG" width="100%">
            <figcaption>上野駅 13 番線から東北本線の寝台特急に乗るという体験は、これが最初で最後のような気がします。</figcaption>
        </figure>
        <figure>
            <img src="media/cassiopeir/20230408_152535.JPG" width="100%">
            <figcaption>電源車と機関車の近くはエンジンなどの音が響いていて熱気を帯びています。はあ、銀色の車体が艶めかしい。</figcaption>
        </figure>
        <figure>
            <img src="media/cassiopeir/20230408_152955.JPG" width="100%">
            <figcaption>このホームには乗客とスタッフしか入ることができないので、人影はまばらです。こんな色々な角度でカシオペアを撮れるなんて、贅沢すぎます。</figcaption>
        </figure>
        <figure>
            <img src="media/cassiopeir/20230408_153238.JPG" width="100%">
            <figcaption>今夜お世話になるのは 9 号車のスロネE27-401です。言うまでもなくトップナンバーです。</figcaption>
        </figure>
        <figure>
            <img src="media/cassiopeir/20230408_153258.JPG" width="100%">
            <figcaption>扉をくぐって車内に入るだけなのに、緊張してしまいます。</figcaption>
        </figure>
        <figure>
            <img src="media/cassiopeir/20230408_153341.JPG" width="100%">
            <figcaption>
                意を決して車内に入ると、少し昔の特急車両の匂いがします。サンライズでも同じ匂いを感じますが、何の匂いなんでしょうか？この匂いがあることによって、この車両は博物館の展示物ではなく、現役の営業車両であることを実感させます。
            </figcaption>
        </figure>
        <figure>
            <img src="media/cassiopeir/20230408_154915.JPG" width="100%">
            <figcaption>デッキには暖色系の照明が点いており、上野駅のホームとは全く違う世界にいるような雰囲気を演出しています。</figcaption>
        </figure>
        <figure>
            <img src="media/cassiopeir/20230408_155130.JPG" width="100%">
            <figcaption>
                駅員さんや旅行会社のスタッフの方々に見送られながら、定刻で上野駅を発ちます。改札口やホーム上でのカシオペア乗客に対する駅員さんの態度が普段よりも明らかに丁寧で、非日常感が溢れます。ありがとうございます。
            </figcaption>
        </figure>
        <figure>
            <img src="media/cassiopeir/20230408_155213.JPG" width="100%">
            <figcaption>発車後しばらくは自室に戻らずミニラウンジにいました。機関車の吹鳴と転轍機を通る時のジョイント音だけが静かな車内空間に響きます。これが、客車列車の乗り心地なのか......
            </figcaption>
        </figure>
        <figure> <img src="media\cassiopeir\20230408_160346.JPG" width="100%">
            <figcaption>荒川を渡る車窓なんて普通列車で幾度となく見ているのに、カシオペアから見ると特別な景色のように思えてきます。</figcaption>
        </figure>
        <figure> <img src="media\cassiopeir\20230408_163731.JPG" width="100%">
            <figcaption>大宮を過ぎて開けた場所を走っていると、ふいに虹が見えました。乗客の中で、この虹に気づいていた人はどれくらいいるのかな？</figcaption>
        </figure>
        <figure> <img src="media\cassiopeir\20230408_172511.JPG" width="100%">
            <figcaption>
                最初の停車駅である宇都宮が近づいてきた頃、座席を倒してベッドにしてみました。夕食まで時間があるので、少し昼寝タイムです。今頃ラウンジカーは混んでいそうなので自室でのんびり過ごします。16時くらいに出発する寝台特急は贅沢な時間の使い方が出来ます。サンライズのように夜遅くの出発だと、こういうことは出来ません。
            </figcaption>
        </figure>
        <figure> <img src="media\cassiopeir\20230408_175800.JPG" width="100%">
            <figcaption>
                夕刻のラウンジカーが気になるので、静かに揺れる車内を歩きます。乗車して初めて気付いたのですが、通路の床は車両中央に向かって少し傾斜がついているのですね。見た目に分かりづらいので、慣れるまではバランスを崩しそうになります。
            </figcaption>
        </figure>
        <figure> <img src="media\cassiopeir\20230408_180030.JPG" width="100%">
            <figcaption>
                宇都宮～黒磯間の関東平野の北の端の方を走っていきます。夕暮れ時にこの辺りを通るのは初めてなので、那須の山々に夕日が沈んでゆく景色は新鮮です。それをラウンジカーの大きな窓から眺められるなんて、今日は私の人生の中の一つのハイライトになると思います。
            </figcaption>
        </figure>
        <figure> <img src="media\cassiopeir\20230408_182240.JPG" width="100%">
            <figcaption>
                ラウンジカーは中々混雑していたので、早々に退散して自室に戻ってきました。かつてテレビがあったと思われる場所にはタブレットが置けるようになっています。トワイライトタイムに角松さんのバラードでも流しながら......
            </figcaption>
        </figure>
        <figure> <img src="media\cassiopeir\20230408_191416.JPG" width="100%">
            <figcaption>
                白河駅で長く停車するようなので、揺れない車内で食事にしようと思います。晩御飯はカシオペアスペシャル弁当。この弁当は定期運行時代からあったようです。食堂車と違い、自分の時間で食事を出来るのは良いですね。
            </figcaption>
        </figure>
        <figure> <img src="media\cassiopeir\20230408_191657.JPG" width="100%">
            <figcaption>お品書きが入っています。上越線を通って新潟方面へ行くようなことは今後あるのでしょうか？</figcaption>
        </figure>
        <figure> <img src="media\cassiopeir\20230408_191951.JPG" width="100%">
            <figcaption>
                正直、食堂車の予約が取れなくて残念......などと思っていたのですが、そんなことは無いくらい豪華な弁当でした。どれも丁寧に作られたことが分かる料理ばかりで、大変満足でした。どうしても温かい汁物が欲しかったので、熱湯を入れた魔法瓶とインスタントのカップ味噌汁を持ち込んだのは正解でした。
            </figcaption>
        </figure>
        <figure> <img src="media\cassiopeir\20230408_212134.JPG" width="100%">
            <figcaption>
                21:20
                夕食を終え郡山を過ぎた頃にラウンジカーへ向かいます。食堂車のディナータイムということもあり、先客は僅かでした。夜になると雰囲気が全く変わります。どうせなら深夜のラウンジカーを独り占めしたいので、今夜は早めに寝ることにしましょう。
            </figcaption>
        </figure>
        <figure> <img src="media\cassiopeir\20230408_213045.JPG" width="100%">
            <figcaption>ラウンジカーから自室へ戻る途中にデッキで 1 枚撮影。ここは車椅子対応のドアのようで、他の車両よりも少し広めに作られています。暖色系の照明が高級感を引き立てます。</figcaption>
        </figure>
        <figure> <img src="media\cassiopeir\20230408_214856.JPG" width="100%">
            <figcaption>21:50
                ベッドメイクをします。枕木方向で寝るのに憧れていたんですよね。かつてのブルートレインの多くは枕木方向にベッドが設置されていたようですが、サンライズの寝台は全てレール方向なので、枕木方向に寝られる機会は滅多にありません。どんな具合なのか楽しみです。
            </figcaption>
        </figure>
        <figure> <img src="media\cassiopeir\20230408_220429.JPG" width="100%">
            <figcaption>22:04
                ベッドメイクを終えて自室内の洗面台で歯を磨いていた頃に福島到着です。通過する貨物列車、物珍しそうにこちらを見る普通列車の乗客、ひっそりと発車していく阿武隈急行の電車。夜の福島駅は初めてなので、何気ない光景も克明に記憶に刻まれます。
            </figcaption>
        </figure>

        <h3 id="1_2">深夜のラウンジカー</h3>

        <figure> <img src="media\cassiopeir\20230409_012738.JPG" width="100%">
            <figcaption>1:20 目を覚ましてカーテンを開けると、雪が舞っています。</figcaption>
        </figure>
        <figure> <img src="media\cassiopeir\20230409_034104.JPG" width="100%">
            <figcaption>乗客が寝静まって、物音がほとんど無い客車を歩いていきます。少し寝ぼけていることもあって、通路の傾斜に何回か転びそうになりながら先頭車へ向かいます。</figcaption>
        </figure>
        <figure> <img src="media\cassiopeir\20230409_033912_01.JPG" width="100%">
            <figcaption>電源車に入ると、静寂が張り詰めていた客車とは違い、エンジンの振動と熱気に包まれています。数段の階段を昇りラウンジカーの扉が開かれると、期待していた通り、誰もいません。</figcaption>
        </figure>
        <figure> <img src="media\cassiopeir\20230409_032357.JPG" width="100%">
            <figcaption>
                無人のラウンジカーに漆黒の車窓。まるで宇宙を走る銀河鉄道に乗っているみたいです。ふと、ドラえもんの「天の川鉄道の夜」という話を連想します。近いうちに廃止されるであろうカシオペアの車内という事も相まって、センチメンタルな気分になってしまいます。
            </figcaption>
        </figure>
        <figure> <img src="media\cassiopeir\20230409_033035.JPG" width="100%">
            <figcaption>3:30 定刻で一ノ関に停車します。こんな時間の一ノ関駅は初めてなので、周りの景色に現実感が全くありません。また、この角度で機関車を眺めることも今までに無いので、全てが夢見心地です。
            </figcaption>
        </figure>
        <figure> <img src="media\cassiopeir\20230409_034303.JPG" width="100%">
            <figcaption>ラウンジカーには 1 時間くらい長居してしまったので、自室に戻ってきました。まだ一ノ関に停車中です。丁度いい位置に 701 系が停まっていたので、スローシャッターで撮ってみます。
            </figcaption>
        </figure>
        <figure> <img src="media\cassiopeir\20230409_035747.JPG" width="100%">
            <figcaption>寝台特急はゆっくりと静かに一ノ関を辷りだしました。客車列車の揺れ方は電車のそれと違い、とても上品です。百閒先生が電車を毛嫌いしていた理由を理解できました。停泊中の 701
                系の側面に丸窓の灯りが写っています。これを見たときに、カシオペアに乗っていることを実感して、すごく嬉しくなりました。</figcaption>
        </figure>

        <h3 id="1_3">起床から青森到着まで</h3>

        <figure> <img src="media\cassiopeir\20230409_063231.JPG" width="100%">
            <figcaption>6:00
                車内放送で目が覚めました。岩手県北を走っています。たまに堤防や丘の上にカシオペアを撮影している人がいます。手を振ったら振り返してくれます。ただそれだけのことなのに、心が温かくなります。乗っている人、撮っている人、たまたまこの列車を見かけた人、この列車の運行を支えるスタッフの方々、どの人にとってもカシオペアは特別な存在なのだと実感させられた旅路でした。
            </figcaption>
        </figure>
        <figure> <img src="media\cassiopeir\20230409_080914.JPG" width="100%">
            <figcaption>陸奥湾沿いを青森へ向けてラストスパートです。定期運行時代なら今頃は噴火湾を眺めている頃でしょうか。もう叶わないことですが、カシオペアから北海道の車窓を楽しみたかった......
            </figcaption>
        </figure>
        <!-- <figure> <img src="media\cassiopeir\20230409_083339.JPG" width="100%">
        <figcaption></figcaption>
    </figure> -->
        <figure> <img src="media\cassiopeir\20230409_083422.JPG" width="100%">
            <figcaption>
                ゆっくりと急カーブを過ぎて終着青森駅に到着です。とても、とても、名残惜しいですが、ひと晩お世話になった客室を後にします。改めて客室を見回すと、寝台列車としては豪華であるものの、華美な装飾があるわけではなく全てが実用のためにデザインされています。今回の乗車で
                E26 系は乗ることを目的化した車両ではなく、純然たる移動手段として造られたブルートレインの正統後継車両だということを強く実感しました。</figcaption>
        </figure>
        <figure> <img src="media\cassiopeir\20230409_083528.JPG" width="100%">
            <figcaption>
                青森駅にここまで長い列車が入っているのは初めて見ました。遠い昔の旅人たちはこのまま前方の階段を上って連絡船に乗り換えていたのでしょう。連絡船は過去帳入りしましたが、私もフェリーに乗り換えて北海道へ向かいます。
            </figcaption>
        </figure>
        <figure> <img src="media\cassiopeir\20230409_084135.JPG" width="100%">
            <figcaption>上野から青森まで普通列車を乗り継いで来たことは幾度となくありますが、まさか三セク分断後に直通列車で来れるなんて夢のようです。</figcaption>
        </figure>
        <figure> <img src="media\cassiopeir\20230409_084628.JPG" width="100%">
            <figcaption>隣のホームに移動して 1 枚撮影。雨に濡れた銀色の車体が麗しい。</figcaption>
        </figure>
        <!-- <figure> <img src="media\cassiopeir\20230409_084955.JPG" width="100%">
        <figcaption></figcaption>
    </figure> -->
        <figure> <img src="media\cassiopeir\20230409_085138.JPG" width="100%">
            <figcaption>青い森鉄道のワンマン列車が入ってきました。短い列車しか入ってこない青森駅の中でカシオペアの存在感は圧倒的です。</figcaption>
        </figure>
        <figure> <img src="media\cassiopeir\20230409_085726.JPG" width="100%">
            <figcaption>跨線橋から機回しを見ます。20系譲りの優美な丸い屋根と直線的な機関車のコントラストが面白いです。</figcaption>
        </figure>

        <h2 id="2">津軽海峡フェリー他 (青森→函館)</h2>

        <figure> <img src="media\cassiopeir\20230409_094108.JPG" width="100%">
            <figcaption>
                青森駅前の𠮷野家で温かい朝食を食べたのち、真新しい駅西口からバスに乗りフェリーターミナルに向かいます。カシオペアから函館方面のフェリーに接続する公共交通はこの便しかありませんが、車内には地元客と私と運転士の
                3
                人しかいません。ターミナル到着は出港 20 分前だったので急かされるように乗船券を買い、あわただしくフェリーに乗り込みました。</figcaption>
        </figure>
        <figure> <img src="media\cassiopeir\20230409_112808.JPG" width="100%">
            <figcaption>
                青森港を離れると雨は上がり青空になりましたが、波はかなり高いです。津軽海峡フェリーには数えきれないほど乗っていますが、ここまで揺れが激しいのは初めてかもしれません。視界は晴れているので龍飛岬はハッキリ見えます。(写真中央に写っている奥側の陸地の先端が龍飛岬です)
            </figcaption>
        </figure>
        <figure> <img src="media\cassiopeir\20230409_132234.JPG" width="100%">
            <figcaption>2 時間くらい波に揺られたのち、右側を見ると函館山が見えます。波しぶきが客室の高さまで届いていたので、窓が汚れています。</figcaption>
        </figure>
        <figure> <img src="media\cassiopeir\20230409_135003.JPG" width="100%">
            <figcaption>定刻通り 13:50
                北海道に上陸です。毎回この角度で写真を撮っている気がします。ホテルのチェックインまで時間があるので、フェリーターミナルの食堂で昼食の海鮮カレーを頂きます。今朝の青森の雨が信じられないくらいに函館は晴れ渡っています。
            </figcaption>
        </figure>
        <figure> <img src="media\cassiopeir\20230409_143939.JPG" width="100%">
            <figcaption>フェリーターミナルから七重浜駅までは歩いていきます。この道は今までに何回歩いたでしょうか。自宅から遠く離れた場所なのに、ここを歩くと帰ってきたような安心感を覚えます。</figcaption>
        </figure>
        <figure> <img src="media\cassiopeir\20230409_144739.JPG" width="100%">
            <figcaption>七重浜駅からキハ 40 の普通列車に乗って函館駅へ向かいます。</figcaption>
        </figure>
        <figure> <img src="media\cassiopeir\20230409_145917.JPG" width="100%">
            <figcaption>14:57 函館駅に到着。上野発車から 24
                時間弱で来ることが出来ました。所要時間的には普通列車とフェリーの夜行便を使った場合と大きな違いはありません。でも当然ながら、普通列車で来た時とは比較にならないほど体が軽いですし、全く疲れていません。
            </figcaption>
        </figure>
        <!-- <figure> <img src="media\cassiopeir\20230409_150433.JPG" width="100%">
        <figcaption></figcaption>
    </figure> -->
        <figure> <img src="media\cassiopeir\20230409_151158.JPG" width="100%">
            <figcaption>函館駅のホームを見回してみると、ちょうど列車の発着のないタイミングだったらしく、人影が全くありません。</figcaption>
        </figure>
        <figure> <img src="media\cassiopeir\20230409_150826.JPG" width="100%">
            <figcaption>留置線には函館本線を走り抜け、廃車を待っているキハ 281 系がいます。</figcaption>
        </figure>
        <figure> <img src="media\cassiopeir\20230409_150914.JPG" width="100%">
            <figcaption>
                この湾曲したホームにカシオペアが乗り入れていた時代に想いを馳せるとき、函館駅の栄枯盛衰を感じずにはいられません。人影のない構内、廃車待ちのエース特急車両、寝台特急が来ることは無くなった長いホーム、頭上のウミネコの寂しげな鳴き声と相まって、なんだかセンチメンタルな気分になってしまいました。
            </figcaption>
        </figure>

        <h2 id="3">最後に</h2>

        <p>私と同世代の方ならば、幼いころに一度はブルートレインやカシオペアなどの寝台特急に憧れたことがあると思います。そして、実際に乗れるような年齢になったときに、憧れだった存在は全て消えていて悔しい思いをしたこともあるでしょう。悔やみきれないことにブルートレインは完全に無くなってしまいましたが、カシオペアはまだ乗れるチャンスがあります。しかし、残された時間はごくわずかです。そのような状況の中で今回乗ることが出来て感無量です。
        </p>

        <p>サンライズエクスプレス以外の夜行列車に乗ることが初めてでした。そのため、夕方発車で朝は遅めの到着ということで列車内の時間をかなり贅沢に使うことが出来ました。また、夕焼けの那須連山や真っ暗闇の県境越えなど、東海道本線の夜行列車とは全く違う雰囲気だったのが強く印象に残っています。
        </p>

        <p>食堂車を利用したかった、展望スイートに乗ってみたかったなど、未練はいくらでもありますが、憧れだった列車に乗ることが出来て、私は満足です。</p>

        <p>出来るのならばもう一度乗りたいけど、無理かなあ......</p>

    </div>
    {% include footer.html %}
    
</body>

</html>